---
- name: Add Microsoft GPG key
  apt_key:
    url: https://packages.microsoft.com/keys/microsoft.asc
    state: present

- name: Add VS Code repository
  apt_repository:
    repo: deb [arch=amd64] https://packages.microsoft.com/repos/code stable main
    state: present
    filename: vscode

- name: Update apt cache
  apt:
    update_cache: yes

- name: Install VS Code
  apt:
    name: code
    state: present